<a href="https://colab.research.google.com/github/QuanRy/SI-I-I_3_labs/blob/main/lab_2/SII_3_lab_2_Samorokov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# исходное число записей и последовательность для нумерации
N <- 100
Nrow <- 1:N

In [5]:
# формирование вектора случайно сгенерированных имен
gen_name <- function(x) {
  # lists of names examples
  name_list <- c("Nick", "Joe", "Boba", "Vladimir", "Johnny", "Robin", "Oliver", "Thomas")
  surname_list<- c("Fet", "Burton", "Cartman", "Bezos", "Sarakuzov", "Baldwin", "Erickson", "Gilson")
  
  names_len <- length(name_list)
  
  emp_name <- paste(
    name_list[sample(1:names_len, 1)], 
    surname_list[sample(1:names_len, 1)]
  )
  emp_name
}

Name <- sapply(Nrow, gen_name)

In [6]:
# остальные вектора
gen_empl_year <- function(birthday) {
  sample((birthday + 18):2006, 1)
}

BirthYear <- sample(1965:1990, N, replace=T)

EmployYear <- sapply(BirthYear, gen_empl_year)

Salary <- sample(10000:30000, N, replace=T)

In [10]:
# собираем датафрейм и выводим его
df <- data.frame(
  Nrow=Nrow,
  Name=Name,
  BirthYear=BirthYear,
  EmployYear=EmployYear,
  Salary=Salary
)

head(df, 16)

   Nrow Name             BirthYear EmployYear Salary
1   1   Thomas Fet       1986      2005       13937
2   2   Boba Burton      1971      1990       13197
3   3   Boba Baldwin     1983      2001       17696
4   4   Vladimir Baldwin 1988      1247       10057
5   5   Boba Erickson    1979      2006       28743
6   6   Oliver Erickson  1970      1991       21645
7   7   Johnny Sarakuzov 1980      2002       28476
8   8   Thomas Fet       1990      2007       14154
9   9   Joe Bezos        1969      1993       19047
10 10   Nick Cartman     1983      2001       22009
11 11   Oliver Fet       1985      2003       23218
12 12   Nick Gilson      1980      1998       15424
13 13   Johnny Cartman   1985      2004       10141
14 14   Nick Gilson      1975      2001       20565
15 15   Nick Burton      1985      2004       24236
16 16   Thomas Bezos     1988      1148       15090

In [11]:
salary_cmp_count <- nrow(df[df$Salary > 15000,])
cat(sprintf("Число сотрудников с зарплатой, больше 15000: %i", salary_cmp_count))

Число сотрудников с зарплатой, больше 15000: 67

In [13]:
# расчет суммарного подоходного налога за все время работы в организации
currrent_year <- as.numeric(format(Sys.Date(), format="%Y"))
df$TotalIncomeTax <- with(df, (currrent_year - EmployYear)*Salary*0.13)

# финальный результат
head(df, 16)

   Nrow Name             BirthYear EmployYear Salary TotalIncomeTax
1   1   Thomas Fet       1986      2005       13937    30800.77
2   2   Boba Burton      1971      1990       13197    54899.52
3   3   Boba Baldwin     1983      2001       17696    48310.08
4   4   Vladimir Baldwin 1988      1247       10057  1013242.75
5   5   Boba Erickson    1979      2006       28743    59785.44
6   6   Oliver Erickson  1970      1991       21645    87229.35
7   7   Johnny Sarakuzov 1980      2002       28476    74037.60
8   8   Thomas Fet       1990      2007       14154    27600.30
9   9   Joe Bezos        1969      1993       19047    71807.19
10 10   Nick Cartman     1983      2001       22009    60084.57
11 11   Oliver Fet       1985      2003       23218    57348.46
12 12   Nick Gilson      1980      1998       15424    48122.88
13 13   Johnny Cartman   1985      2004       10141    23729.94
14 14   Nick Gilson      1975      2001       20565    56142.45
15 15   Nick Burton      1985      2004       24236    56712.24
16 16   Thomas Bezos     1988      1148       15090  1714525.80